h1 {
    text-align: center;
}

.container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    min-width: 200px;
    height: auto;
    border: solid 2px black;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
}

.image {
    width: 100px;
    height: 100px;
}

.general {
    display: flex;
    justify-content: center;
}